<h2>Nosotros</h2>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<blockquote>
		<p>Somos un Equipo de Contadores Públicos, dedicado a brindar asesoramiento integral y personalizado  en materiacontable, impositiva, laboral, previsional y societaria.</p>
		<footer>Por medio de esta plataforma on line, lo invitamos a conocernos y contarles sobre nosotros y lo que hacemos.</footer>
	</blockquote>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Vision</h3>
			</div>
			<div class="panel-body">
				<small>
					Por medio de propuestas concretas, buscamos continuamente la satisfacción de nuestros clientes actuales y potenciales, en base a la experiencia, trayectoria y conocimiento profesional. Así como también, nos orientamos a capacitaciones continúas para atender a los cambios permanentes que enfrentamos día a día en nuestra sociedad, con el objeto de brindar el mejor asesoramiento personalizado.
				</small>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Mision</h3>
			</div>
			<div class="panel-body">
				<small>
					Nos dedicamos a atender a todas las personas físicas y jurídicas de manera integral. 
					Con una amplia experiencia en Sociedades, nos destacamos en el análisis de gestión y de mejoras en la rentabilidad. Partiendo de la base que vivimos en una era de Globalización y Tecnología, consideramos que para mejorar la eficiencia y oportunidad de la información, es necesaria la capacitación continua e innovación tecnológica.
				</small>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Valores</h3>
			</div>
			<div class="panel-body">
				<small>
					El deber, el compromiso, la comunicación, el equilibrio y la ética, son los principales pilares de nuestra organización. La transmisión de información clara, oportuna y fehaciente, es la principal fuente de esta labor.
				</small>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h4>SOBRE QUIEN DIRIJE EL EQUIPO</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		<img src="img/cv.jpg" class="img-responsive">
	</div>
	<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
		<p>Mi objetivo concreto es brindar asesoramiento contable, impositivo y laboral a Personas Físicas y Sociedades. En base a mi experiencia comprobable en estudios contables y en empresas, puedo interpretar lo que buscan y necesitan los clientes.
		Empecé trabajando en relación de dependencia en un estudio contable mediano en zona norte, en donde trabajar part-time, me permitió avanzar con la carrera de Contador Público, disponiendo de tiempo suficiente para cursar y estudiar.
		En el medio de la carrera decidí probar mi desempeño en Empresas, ya que la labor dentro de una sociedad difiere mucho de la del estudio contable. Aunque la modalidad de contratación ya la había cambiado por la de jornada “full time”,no me perjudicó para continuar con mis estudios, sino al contrario. Es ahí, en una empresa agropecuaria perteneciente a un Holding importante, en donde aprendí a entender lo que buscan las empresas en general.  Mi enfoque se volvió más análitico que técnico y aprendí la utilidad y necesidad de disponer de un buen software de gestión integral.
		Mi decisión de estudiar y trabajar paralelamente es algo que considero muy valioso hoy en día, ya que a pesar de mi juventud, considero haber crecido y madurado en un entorno tan profesional que me dio la seguridad de seguir desarrollándome de manera independiente, junto con la colaboración de mis colegas y asociados, quienes son fundamentales para el trabajo en equipo y mejor calidad de servicio.</p>
	 	<p class="text-center">Cdra. María Alejandra Garreta (U.B.A.)<br>
		Mat.: CP 393-234 - C.P.C.E.C.A.B.A.<br>
		Estudio Contable MAG&Asociados</p>
	</div>
</div>