<h2>Servicios</h2>
<div class="row" ng-show="boxes">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <a showtab href="#contables" ng-click="toggleShow()" class="thumbnail">
            <img class="services-img" src="img/sc.jpg">
          </a>
        </div>
        <div class="panel-footer">
          <p class="text-center">Contables</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a showtab href="#impositivos" ng-click="toggleShow()" class="thumbnail">
            <img class="services-img" src="img/si.jpg">
          </a>
        </div>
        <div class="panel-footer">
          <p class="text-center">Impositivos</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <a showtab href="#laborales" c ng-click="toggleShow()"lass="thumbnail">
            <img class="services-img" src="img/sl.jpg">
          </a>
        </div>
        <div class="panel-footer">
          <p class="text-center">Laborales</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a showtab href="#domesticas"  ng-click="toggleShow()"class="thumbnail">
            <img class="services-img" src="img/sd.jpg">
          </a>
        </div>
        <div class="panel-footer">
          <p class="text-center">Domésticas</p>
        </div>
      </div>
    </div>
</div>
<!--<ul class="nav nav-pills">
  <li class="active"><a showtab href="#contables">Contables</a></li>
  <li><a showtab href="#impositivos">Impositivos</a></li>
  <li><a showtab href="#laborales">Laborales</a></li>
  <li><a showtab href="#domesticas">Domésticas</a></li>
</ul>-->
<div class="row" ng-show="description">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button type="button" ng-click="toggleShow()" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left" ></i>Volver</button>
    <div class="tab-content">
      <div id="contables" class="tab-pane fade in active">
        <ul>
          <li> Servicios de Outsourcing – Data Entry.</li>
          <li> Armado y Presentación de Balances en AFIP e IGJ.</li>
          <li> Implementación de sistemas informáticos contables.</li>
          <li> Estructuras de costos y análisis de gestión.</li>
          <li> Análisis de cuentas para reportes periódicos de resultados y patrimoniales, soporte necesario para el análisis integral de gestión.</li>
          <li> Certificaciones requeridas por las distintas entidades.</li>
          <li> Pericias contables.</li>
          <li> Asesoramiento contable integral.</li>
          <li> Tareas de Auditoría de procesos internos y de Estados Contables.</li>
          <li> Armado de actas y actualización de Libros Societarios y Contables.</li>
          <li> Otros servicios relacionados según los requerimientos de cada cliente, a medida.</li>
        </ul>
      </div>
      <div id="impositivos" class="tab-pane fade">
        <ul>
          <li>Regularizaciones impositivas.</li>
          <li>Inscripciones en los Impuestos obligatorios.</li>
          <li>Confección y presentación de DDJJ mensuales, anuales en los organismos de contralor. IVA – GANANCIAS – BIENES PERSONALES – INGRESOS BRUTOS – SICORE – MONOTRIBUTO – AUTÓNOMOS – DDJJ INFORMATIVAS – MINIMA PRESUNTA</li>
          <li>Asesoramiento integral y analítico sobre evolución de costos impositivos.</li>
          <li>Análisis de rendimientos según carga impositiva.</li>
          <li>Gestión en Comercio Exterior.</li> 
          <li>Solicitud de CVDI para importadores.</li>
          <li>Trámites de reintegros de créditos fiscales, exenciones, reducciones de alícuotas de retención según actividad.</li>
          <li>Emisión certificados: COTI – CETA – ITI.</li>
          <li>Blanqueos impositivos - Moratorias - Planes de facilidades de pago.</li>
          <li>Atención a Inspecciones y descargos ante intimaciones y requerimientos.</li>
        </ul>
      </div>
      <div id="laborales" class="tab-pane fade">
        <ul>
          <li>Liquidación de Sueldos, emisión de recibos.</li>
          <li>Liquidación Cargas Sociales.</li>
          <li>Altas y Bajas de empleados.</li>
          <li>Empleadas Domésticas.</li> 
          <li>Emisión de certificación de servicios y contratos de trabajo.</li>
          <li>Boletas Sindicales.</li>
          <li>Pericias laborales.</li>
          <li>Indemnizaciones y Liquidaciones finales.</li>
          <li>Retenciones Ganancias 4ta. Categoría empleados relación dependencia.</li>
          <li>Cuadros de marcha para análisis retenciones.</li>
          <li>Emisión Formulario 649.</li>
          <li>Libros de sueldos, trámite de hojas móviles rubricadas.</li>
        </ul>
      </div>
      <div id="domesticas" class="tab-pane fade">
        <ul>
          <li>Presentaciones regulares en IGJ.</li>
          <li>Emisión Tasa de Justicia.</li>
          <li>Actualización de Libros Societarios Obligatorios.</li>
          <li>Gestión copiado de libros y sus rúbricas.</li>
          <li>Redacción de Actas de Directorio y Asamblea.</li>
          <li>Aumentos y reducciones de capital.</li>
          <li>Administración de Consorcios.</li>
        </ul>
      </div>
    </div>
  </div>
</div>